/* Estilo de la cabecera*/

header{
    text-align: center;
    color: crimson;
    text-transform: capitalize;
}

header div{

    width: 100%;
    height: 150px;

}

#fondo{
    background-image: url(OIP.jpg);
    
}

/* Estilo del navegador*/

.boton {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.boton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.boton:active {
	position:relative;
	top:1px;
}

/* Estilo del cuerpo*/

body{

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 */
    text-align: justify;
}

h1{

    text-shadow: 2px 5px 4px #eeff00;
    color: #eeff00;
    text-decoration: underline;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

p{

    font-family: Arial, Helvetica, sans-serif;

}

#primer{

    width: 800px;
    background: linear-gradient(90deg, #000 0%, #B5ACAC 86%);
    float:left;
    margin-left: 100px;
    text-align: center;
    box-shadow: 44px 1px 6px 1px #1d031d;

}

#imgdisco{


    float: left;
    height: 300px;
    width: 300px;
    margin-right: 100px;

}

#segundo{

    width: 800px;
    background: linear-gradient(90deg, #000 0%, #B5ACAC 86%);;
    float:left;
    margin-left: 100px;
    text-align: center;
    box-shadow: 44px 1px 6px 1px #1d031d;

}

#tercero{

    width: 800px;
    background: linear-gradient(90deg, #000 0%, #B5ACAC 86%);;
    float:left;
    margin-left: 100px;
    text-align: center;
    margin-top: 50px;
    box-shadow: 44px 1px 6px 1px #1d031d;

}

#cuarto{

    width: 800px;
    background: linear-gradient(90deg, #000 0%, #B5ACAC 86%);;
    float:left;
    margin-left: 100px;
    text-align: center;
    margin-top: 50px;
    box-shadow: 44px 1px 6px 1px #1d031d;

}

#quinto{

    width: 800px;
    background: linear-gradient(90deg, #000 0%, #B5ACAC 86%);;
    float:left;
    margin-left: 100px;
    text-align: center;
    margin-top: 30px;
    box-shadow: 44px 1px 6px 1px #1d031d;

}

#sexto{

    width: 800px;
    background: linear-gradient(90deg, #000 0%, #B5ACAC 86%);;
    float:left;
    margin-left: 100px;
    text-align: center;
    margin-top: 30px;
    box-shadow: 44px 1px 6px 1px #1d031d;

}

.importante{

    text-shadow: 2px 5px 4px #ff00b3;
    color: #ff00b3;
    text-decoration: underline;
    font-weight: bolder;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#vuelta{


    text-align: left;
    font-weight: bolder;
    font-size: 30px;
    color: #630303;
    clear: both;

}



a:link{         /* links sin usar*/
    color: rgb(172, 71, 255);
    font-style: italic;
}

a:visited{         /* links usado visitado*/
    color: orchid;
    text-decoration: none;
    font-style: italic;
}

a:hover{         /* cuando pasamos el raton por encima*/
    color: greenyellow;
    text-decoration: underline;
    font-style: italic;
    text-transform: lowercase;
}

/* Estilo del pie*/



footer{

    text-align: left;
    clear: both;
    

}